<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://prohatch-sensorservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9f7b001c-4980-4d3f-82dd-a3723d1dca95/resourceGroups/proHatch/providers/Microsoft.Web/sites/proHatch-SensorService</ResourceId>
    <UserName>$proHatch-SensorService</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://prohatch-sensorservice.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>